.single {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  gap: 25px;
}
.price {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: space-between;
}
